DB_HOST = localhost
DB_PORT = 5432
DB_USER = postgres
DB_NAME = musicdb
DB_PASSWORD = targaryen

URL_PORT = 8080
URL_HOST = localhost

REDIS_HOST = localhost
REDIS_PORT = 6379

JWT_SECRET = super-secret-key

DOCKER_USERNAME = your-docker-username
DOCKER_ACESS_TOKEN = your-docker-access-token

GITHUB_USERNAME = your-github-username
GITHUB_ACCESS_TOKEN = your-github-access-token

TEST_EMAIL = root
TEST_PASSWORD = a-password-maybe